{% extends "base.html" %}
{% block content %}
  <div class="container mt-4">
    <h1>{{ strategy.name }}</h1>
    <p>{{strategy.description}}</p>

    <h2>전략 기본 정보</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>생성일:</strong>
        {{strategy.created_at}}</li>
      <li class="list-group-item">
        <strong>전략 종류:</strong>
        {{strategy.type}}</li>
      <li class="list-group-item">
        <strong>리밸런싱 주기:</strong>
        {{strategy.rebalance_frequency}}</li>
      <li class="list-group-item">
        <strong>현금 포함 유무:
        </strong>
        {{strategy.include_cash}}
      </li class="list-group-item">
      {% if strategy.include_cash %}
        <li class="list-group-item">
          <strong>현금 티커:</strong>
          {{strategy.cash_ticker}}
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock content %}