{% extends "base.html" %}
{% block title %}두푼 - 전략 목록{% endblock title %}
{% block content %}
  <div class="container mt-4">
    <h1 class="h2">전략 목록</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        {% for strategy in strategies %}
          <tr>
            <td>
              <a href="{% url 'strategy:strategy_detail' strategy.id %}">
                {{ strategy.name }}
              </a>
            </td>
            <td>{{ strategy.description }}</td>
            <td>{{ strategy.type }}</td>
            <td>{{ strategy.created_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}